<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Krajka</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Strona główna</a></li>
					<li><a href="/about" class="link">O nas</a></li>
					<li><a href="/our-patron" class="link">Nasz bohater</a></li>
					<li><a href="/kontakt" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Nowości</h3>
				<ul class="mb3">
					<li><a href="/post" class="link">Z życia kręgu</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Krajka na Facebook") }}					
				</ul>
			</div>

		</div>
	</div>

</footer>

